<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link href="css/style.css" rel="stylesheet">
    <title>Profile</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    
</head>
<body>
    <div class="container">
        <div id="app">
            <div class="wrapper">
                <p id="profile-name">{{ profile.name }}</p>
                <!-- <h2>Aquilos Sdarerghhj</h2> -->

                <div class="social-media">
                    <h4><a :href="instagram"><i class="fab fa-instagram"></i></a></h4>
                    <h4><a :href="twitter"><i class="fab fa-twitter-square"></i></a></h4>
                    <h4><a :href="snapchat"><i class="fab fa-snapchat-square"></i></a></h4>
                    <h4><a :href="email"><i class="fas fa-envelope-square"></i></a></h4>            
                </div>

                <div class="image flex">
                    <img src="https://res.cloudinary.com/adenike/image/upload/v1610103731/woman_xfdgca.png" alt="" srcset="">
                </div>

                <div class="nav flex">
                    <ul class="nav-item">
                        <li v-for="nav in navOne">
                            {{nav}}
                        </li> 
                    </ul>
                    <div class="logo">
                        <img src="https://res.cloudinary.com/adenike/image/upload/v1610103730/logo_fpj7rv.png" alt="">
                    </div>
                    <ul class="nav-item">
                        <li v-for="nav in navTwo">
                            {{nav}}
                        </li> 
                    </ul>
                    <!-- <ul class="nav-item">
                        <li><a href="">GALLERY</a></li>
                        <li><a href="">CONTACT</a></li>
                    </ul> -->
                </div>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="js/app.js"></script>
</body>
</html>